body {
  background-color: #C97A5B;
  color: #F8C278;
  font-size: 10px;
  font-family: arial;
  /*paleta 48345C granat
           C97A5B tło - ciemny pomarańcz
           915161 fiolet
           F1A468 pomarańcz
           F8C278 żółty*/
}

h1 {
  font-size: 16px;
}

#saper {
	margin: 40px;
}

#plansza {
}

.komentarz {
 }

.zegar {
  margin: 0px;
  height: 40px;
  width: 354px;
  font-size: 22px;
  text-align: center;
}

.zegar1 {
	float: left;
}

.zegar2 {
	display: inline;
}

.zegar3 {
	float: right;
}

table {
  border: 3px solid #48345C;
 /*margin: 0px;*/
}

td {
	width: 30px;
	height: 30px;
	border: 1px solid #48345C;
	text-align: center;
	font-size: 22px;
	background-color: #915161;
	padding: 5px;
	/*border-style: outset;*/
}

.zakryty {
	background-color: #915161;
}
.odkryty {
	background-color: #C97A5B;
}

.odkryty_granat {
	background-color: #48345C;
}

.bum:before {
  content: "BUM!";
  font-size: 12px;
}

.flaga:before {
	content: "F";
}

.flaga_zle:before {
	content: "X";
}
