body {
  background-color: #C97A5B;
  color: #F8C278;
  font-size: 10px;
  /*paleta 48345C
           C97A5B
           915161
           F1A468
           F8C278*/
}

.wrapper {
	margin: 40px;
  /*padding: 100px;*/
 /*background-color: #fff;*/
 }

table {
 border: 5px solid #48345C;
 /*background-color: #fff;*/
}

td {
 width: 30px;
 height: 30px;
 border: 1px solid #48345C;
 text-align: center;
 font-size: 10px;
 background-color: #915161;
 padding: 5px;
}