body {
  background-color: #C97A5B;
  color: #F8C278;
  font-size: 10px;
  font-family: arial;
  /*paleta 48345C granat
           C97A5B tło - ciemny pomarańcz
           915161 fiolet
           F1A468 pomarańcz
           F8C278 żółty*/
}

h1 {
font-size: 16px;
}

.wrapper {
	margin: 40px;
 }

table {
 border: 5px solid #48345C;
 margin: 40px;
}

td {
 width: 30px;
 height: 30px;
 border: 1px solid #48345C;
 text-align: center;
 font-size: 12px;
 background-color: #915161;
 padding: 5px;
}

.odsloniety {
	background-color: #C97A5B;
}

.odsloniety_granat {
	background-color: #48345C;
}